body,
html {
  height: 100%;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
}
.chart-container {
  display: flex;
  /* justify-content: space-between; */
}

.doughnut-chart {
  flex: 1;
  text-align: center;
}

.bar-chart {
  flex: 1;
  text-align: center;
}
.navigation-bar {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar a {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  font-weight: bold;
}

.navigation-bar a:hover {
  color: #007bff;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.main-content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.state-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
}